/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family:"leawood-book-bt";
    src: url("fonts/leawood-book-bt.ttf") /* TTF file for CSS3 browsers */
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "leawood-book-bt", Serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET*/

/*VARIABLES*/
@brown: #5c3b25;

/*LAYOUT STYLES*/
.wrapper{
	margin:auto;
	max-width: 1920px;
	height: 1080px;
	overflow:hidden;
	position:relative;
}

.two-per-row > *{
	width: 48%;
	padding: 10px 2% 10px 0%;
	float:left;
	display:inline-block;
}

/*LANDING PAGES*/

.page-left{
	position:relative;
	z-index: 0;
	h2{
		font-size: 5em;
		line-height: 1em;
		margin-bottom: .5em;
	}
	p{
		font-size: 2em;
		line-height: 1em;
	}
}

.slider-level-1{
	width: 100%;
	>div{
		width: 100%;
		height: 1080px;
	}
}

.page-wrapper{
	background-image: url('../img/page-background.png');
	width: 1920px;
	height: 1080px;	
	overflow: hidden;


	padding-top: 60px;
	padding-bottom: 650px;

	.page-left{
		float:left;
		width: 35%;
	}
	.page-right{
		float:left;
		width: 65%;
		/*padding-top: 350px;*/
	}
	.page-left, .page-right{
		>div{
			padding: 0px 10%;
			overflow:hidden;
		}
	}
}

.slide-two{
	.page-wrapper{
		padding-top: 150px;
	}	
}	

.large-links{
	font-size: 3em;
	a{
		padding-top: 50px;
		display:block;
		color: @brown;
		cursor:pointer;
		text-decoration: none !important;
		img, span{
			display:inline-block;
			/*float:left;*/
			vertical-align: middle;
		}
		img{
			max-height: 150px;
			max-width: 120px;
		}
		span{

		}
	}
}

/*DONORS PAGE*/
.keyboard-container{
	position:absolute;
	width: 100%;
	bottom: 160px;
	text-align: center;
	clear: both;
	padding: 20px 0px;
	border-top: 1px solid #ddd;
	background: #f2f2f2;
	input{
		min-width: 65%;
		min-height: 50px;
		font-size: 2em;
		line-height: 2em;		
	}
}

.donor-search-button{
	background-image: url('/img/brown-bar.jpg');
	color: white !important;
	min-width: 300px;
	min-height: 40px;
	margin-top: 40px;
	display:block;
	padding:30px;
	transition: .2s all;
	position:relative;
	z-index: 10;
	span{
		font-size: 2.5em;
		line-height: 1.em;
		margin-left:50px;
		display:inline-block;
	}
	img{
		max-height: 70px;
		float:left;
	}
	&.nav-down{
		
	    -webkit-transform: perspective(300px) rotateX(5deg);
		-webkit-transform-style: preserve-3d;
		background-image: url('/img/green-bar.jpg');	
	}
	&.nav-up{
	    -webkit-transform: perspective(0px) rotateX(0deg) !important;
		-webkit-transform-style: preserve-3d;
	}	

}

.donor-list{
	display:none;
}

h3.no-results, h3.no-results-keyboard{
	display:block;	
	display:none;
	clear:both;
	color: @brown;
}

/*NAVIGATION*/
.landing-page-navigation{
	z-index: 100;
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	
	background-position: 250px 0px;	
	ul{
		overflow:hidden;
	}
	li{
		display: inline-block;
		width: 29%;
		float:left;
		background-image: url('/img/brown-bar.jpg');
		transition: .2s all;
		&:first-child{
			width: 13%;
			a{
				padding: 16px;
				img{
					max-width: 100px;
				}				
			}
		}
		&.nav-active{
		    -webkit-transform: perspective(0px) rotateX(0deg) !important;
  			-webkit-transform-style: preserve-3d;
			background-image: url('/img/green-bar.jpg');
		}	
		&.nav-down{
			
		    -webkit-transform: perspective(300px) rotateX(5deg);
  			-webkit-transform-style: preserve-3d;	
		}
		&.nav-up{

		}	
		a{
			display:block;
			padding: 40px 0px 40px 0px;
			/*background: #eee;*/
			text-align: center;
			min-height: 80px;
			background-image: url('/img/magic-dots.png');

			img{
				max-width: 250px;
			}
		}
	}
	.nav-active{

	}
}


