/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*VARIABLES*/
@brown: #5c3b25;
@green: #415c25;


@font-face {
    font-family:"leawood-book-bt";
    src: url("fonts/leawood-book-bt.ttf") /* TTF file for CSS3 browsers */
}

li{
	line-height: 1em;
	color: @brown;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "leawood-book-bt", Serif;
	margin-left:-30px !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET*/



/*LAYOUT STYLES*/
.wrapper{
	margin:auto;
	max-width: 100%;
	/*height: 1080px;*/
	overflow:scroll;
	overflow-x: hidden;
	position:relative;
	margin-right: -30px;
}



.two-per-row > *{
	width: 45%;
	padding: 10px 5% 10px 0%;
	float:left;
	display:inline-block;
	min-height: 70px;
}

.prc-invisible{
	opacity: 0 !important;
	height: 0px !important;
	overflow:hidden !important;
}

/*LANDING PAGE CAROUSEL*/
#slidr-carousel{
	width: 100%;
	min-height: 1080px;
	z-index: 2000;
	position: relative;
	

	.touch-icon{
		position: absolute;
		z-index: 9999;
		max-width: 250px;
		right: 10px;
		bottom: 10px;

	}
}

/*LANDING PAGES*/
.slider-nav-wrapper{
	/*visibility: hidden;*/
}

.page-left{
	position:relative;
	z-index: 0;
	color: @brown;
	img{
		margin-bottom: 20px;
	}
	h2, h1{
		font-size: 4em;
		line-height: 1em;
		margin-bottom: .5em;
		color: @green;
	}
	p{
		font-size: 2em;
		line-height: 1.5em;
	}
}

.slider-level-1{
	visibility: visible;
	/*display:none;*/
	width: 100%;
	>div{
		width: 100%;
		height: 1080px;
		overflow:hidden;
	}
	&.invisible{
		/*visibility: hidden !important;*/
	}
}

#slidr-level-1{
	/*display:none;*/
	display:block;
	/*opacity: 0;*/
}

/*PAGE SPECIFIC STYLES*/

/*END PAGE SPECIFIC STYLES*/

.page-wrapper{
	background-image: url('../img/page-background.jpg');
	width: 100%;
	/*height: 1080px;	*/
	overflow: hidden;


	padding-top: 60px;
	padding-bottom: 650px;

	.page-left{
		float:left;
		width: 35%;
	}
	.page-right{
		float:left;
		width: 65%;
		ul{
			max-height: 750px;
						
		}

		/*padding-top: 350px;*/
	}
	.page-left, .page-right{
		>div{
			padding: 0px 10%;
			overflow:hidden;
			>h2{
				font-size: 3.5em;
				line-height: 1em;
				color: @green;
			}
		}
	}
	&.tradition .page-right,
	&.future .page-right{
		margin-top: 300px;
	}
	&.donors{
		#donor-categories{
			li{
				padding-top: 55px;
			}
		}
	}

	&.donors, 
	&.tradition,
	&.future{
		padding-top: 100px;

	}
	&.inner-page{
		padding-top: 30px;
	}
}

.donor-category-slide{
	.page-right ul{
		overflow-y:scroll;	
	}
}	

&.donors .page-right{
	.page-up, .page-down{
		display:none;
	}
}

.page-up, .page-down{
	padding:10px;
	background: @brown;
	color: lighten(@brown, 50%);
	margin: 10px 0px;
	display:inline-block;
	border-radius: 10px;
}

.slide-two{
	.page-wrapper{
		/*padding-top: 150px;*/
	}	
}	

.large-links{
	font-size: 2.5em;
	a{
		display:block;
		color: @brown;
		cursor:pointer;
		min-height: 100px;
		img{
			max-height: 120px;
			max-width: 90%;
			margin-right: 5%;
		}
		span{
			display:inline-block;
			vertical-align: top;
			margin-top:10px;
			line-height: 1em;
			width: 65%;
		}
	}
}

.tradition, .future{
	.large-links{
		text-decoration: none !important;
	}
}

#donor-search-input{
	font-family: "leawood-book-bt";
}

/*DONORS PAGE*/
.keyboard-container{
	position:absolute;
	width: 100%;
	bottom: 160px;
	text-align: center;
	clear: both;
	padding: 20px 0px;
	border-top: 1px solid #ddd;
	background: #f2f2f2;

	input{
		min-width: 65%;
		min-height: 50px;
		font-size: 2em;
		line-height: 2em;		
	}
	a.key{
		display:block;
		color: #666 !important;
		&:hover{
			text-decoration:none;
		}
	}
}

.donor-search-button{
	background-image: url('/img/brown-bar.jpg');
	color: white !important;
	min-width: 300px;
	min-height: 40px;
	margin-top: 40px;
	display:block;
	padding:30px;
	transition: .2s all;
	position:relative;
	z-index: 10;
	span{
		font-size: 2.5em;
		line-height: 1.em;
		margin-left:50px;
		display:inline-block;
	}
	img{
		max-height: 70px;
		float:left;
	}
	&.nav-down{
		
	    -webkit-transform: perspective(300px) rotateX(5deg);
		-webkit-transform-style: preserve-3d;
		background-image: url('/img/green-bar.jpg');	
	}
	&.nav-up{
	    -webkit-transform: perspective(0px) rotateX(0deg) !important;
		-webkit-transform-style: preserve-3d;
	}	

}

.donor-list{
	display:none;
}

.donor-detail{
	padding-top: 0px;
}

.donor-with-detail span{
	/*border-bottom: 5px solid;*/
	text-decoration: underline;
	width: auto !important;
}

.donor-list li{
	transition: .2s all;
	overflow:hidden;




	a{
		min-width: 300px;
		text-decoration: underline;
		span{
			display:block;
			clear:both;
			
		}
		.donor-display-cat{
			font-size: .6em;
			margin-top: 5px;
		}		
	}

	span{
		line-height: 1em;
	}

	&.donor-not-found{
		width: 0px;
		opacity: 0;
		padding:0px;
		height: 0px;		
	}
}

h3.clear-search{
	display:none;
}

h3.no-results, h3.no-results-keyboard{
	display:block;	
	display:none;
	clear:both;
	color: @brown;
}

.video-play-button{
/*	display: inline-block;
	margin-top: 500px;
	padding: 100px;
	float:left;
	max-width: 100px;
	border-radius: 500px;*/
}

.video-container{
	display:none;
	position:absolute;
	top: 150px;
	width: 100%;
	text-align: center;
	z-index: 9999;

	iframe{
		box-shadow: 0px 0px 20px @brown;
		width: 50%;
		height: 500px;
		/*margin-top: 300px;*/
	}
}

.close-video{
	box-shadow: 0px 0px 20px @brown;
	position: relative;
	display: block;
	clear: both;
	width: 25%;
	padding: 25px 0px;
	background: white;
	border-radius: 120px;
	margin: 20px auto 20px auto;
	font-size: 50px;	
	text-decoration: none !important;
}

/*NAVIGATION*/
.landing-page-navigation{
	z-index: 100;
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	
	background-position: 250px 0px;	
	ul{
		overflow:hidden;
	}
	li{
		display: inline-block;
		width: 29%;
		float:left;
		background-image: url('/img/brown-bar.jpg');
		transition: .2s all;
		&:first-child{
			width: 13%;

			a{
				/*padding: 16px;*/
				background-image: url('/img/magic-dots.png');
				img{
					max-width: 152px;
				}				
			}
		}
		&.nav-active{
		    -webkit-transform: perspective(0px) rotateX(0deg) !important;
  			-webkit-transform-style: preserve-3d;
			background-image: url('/img/green-bar.jpg');
		}	
		&.nav-down{
			
		    -webkit-transform: perspective(300px) rotateX(5deg);
  			-webkit-transform-style: preserve-3d;	
		}
		&.nav-up{
		    -webkit-transform: perspective(0px) rotateX(0deg);
  			-webkit-transform-style: preserve-3d;
		}	
		a{
			display:block;
			/*padding: 40px 0px 40px 0px;*/
			/*background: #eee;*/
			text-align: center;
			min-height: 80px;
			

			img{
				/*max-width: 250px;*/
			}
		}
	}
	.nav-active{

	}
}

/*---------------------------------------------------------------------------------
/*---------------------------------------------------------------------------------
PARALLAX SLIDER 
/*---------------------------------------------------------------------------------
---------------------------------------------------------------------------------*/
.parallax-wrapper{
	display:none;
	height: 1080px;
	overflow:scroll;
	position: relative;
	z-index: 1000;
}

.parallax-wrapper::-webkit-scrollbar {
    width: 0px;
    height: initial;
    background-color:initial;
}
.parallax-wrapper::-webkit-scrollbar-track {
    background-color:initial;
    width: 0px;
}
.parallax-wrapper::-webkit-scrollbar-track-piece  {
    background-color: initial;
}
.parallax-wrapper::-webkit-scrollbar-thumb {    
    background-color: initial;
    width: 0px;
}

/*PARALLAX*/
.parallax{
	background-image: url(/img/parallax/whole-bg.jpg);
	
	a{
		position:absolute;
		width: 100%;
		height: 100%;
	}
}

body{
margin: 0;
padding: 0;


}
/*<!--eliminated 5px border and holds bg image-->*/

.parallax_container {
  max-width: 1920px;
  margin: 0 auto;
}

.parallax_future_container {
	max-width: 1920px;
	margin: 0 auto;
	z-index: 10;
}
/*TESTING - trying to define container to drop design elements on different layeres
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
/*COULD LIKELY REMOVE WHOLE SECTION -- The :last-child selector allows you to target the last element directly inside its containing element. It seems like this just makes sure the last element is flush bottom*/

section.module h2 {
  /*REMOVE PADDING margin-bottom: 40px;*/
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
/*COULD LIKELY REMOVE WHOLE SECTION*/

section.module p {
  /*REMOVE PADDING margin-bottom: 40px;*/
  font-size: 16px;
  font-weight: 300;
}
/*COULD LIKELY REMOVE WHOLE SECTION*/

section.module p:last-child {
  margin-bottom: 0;
}
/*COULD LIKELY REMOVE WHOLE SECTION*/

section.module.content {
  padding: 0px 0; 
 
  /*changed padding from padding: 40px 0;*/
}
/*IMPORTANT: includes styles for all simple content containing sections*/

section.module.parallax {
	position: relative;
  height: 1080px;
  /*EDIT was originally 600px; 
  TESTING this should make the parallax content sections the height of the monitor. */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*in the advance tutorial, this section looks like this: section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}*/

}
/*IMPORTANT: Section that creates the parallax effect*/

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/*COULD LIKELY REMOVE: Defines the size and position of the titles in the parallax sections -- not needed */

section.module.parallax-1 {
 background-image: url(/img/parallax/future-content.png);
 
}
 /*SYNOPSIS: this element works perfectly, but none of the other parallax-#'s follow suit for some reason*/
  
  /*TESTING: might not need these sections, in the tutorial they simply defines the /img/parallax in the background*/
/*<!-- defines parallax section 1-->*/

section.module.parallax-2 {
  background-image: url(/img/parallax/donor-content.png);
  
}
/*<!-- defines parallax section 2-->*/

section.module.parallax-3 {
  background-image: url(/img/parallax/tradition-content.png);
  
}
/*<!-- defines parallax section 3-->*/

/*REMOVE @media all and (min-width: 600px) {*/
  section.module h2 {
    font-size: 42px;
  }  
  /*COULD LIKELY REMOVE*/

  section.module p {
    font-size: 20px;
  }
  /*COULD LIKELY REMOVE*/

  section.module.parallax h1 {
    font-size: 96px;
  }
  /*COULD LIKELY REMOVE*/

/* REMOVE}
@media all and (min-width: 960px) {*/
  section.module.parallax h1 {
    font-size: 160px;
  }
/*REMOVE}*/
/*COULD LIKELY REMOVE*/

.timeout-notification{
 	display: none; 
	position: fixed;
	top: 450px;
	background: rgba(92, 59, 37, 0.9);
	color: white;
	padding: 40px;
	z-index: 9999;
	width: 30%;
	left: 35%;
	text-align: center;
	border-radius: 20px;

}

.video-play-button{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 2em;
	background: red;
}

.video-slide{
	background: black;
}

.video-slide iframe{
	margin: 20px auto;
}
